
                       /*Cabeçalho*/
*{
    margin:0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: aqua;
    text-align: center;
    color: white;
    padding: 10px;

}

.title{
    font-size: 26px;
}
                          /*Conteudo*/

section{
    padding: 20px;
    background-image: url('../images/people.jpg');
    background-size: cover;
    overflow: hidden;
}

.formContainer{
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right;
}

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

select{
    background-image: url(../images/arrow.jpg);
    background-repeat: no-repeat;

    background-position: calc(100% - 10px) center;
    
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: aqua;
    font-weight: bold;
}
                     /*RODAPÉ*/

footer{
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.picture{
    width: 160px;
}

.description{
    color: white;
    display: inline-block;
    text-align: left;
    max-width: 40%;
    margin-left: 40px;
}

.description p, .description h3{
    margin-bottom: 20px;
}

.description h3{
    font-size: 24px;
}

@media screen and (max-width:600px) {
    section{
        padding: 20px;
        background-image: url('../images/people.jpg');
        background-size: cover;
        overflow: hidden;
        position: absolute;
    }
  
    .formContainer{
        
        max-width: 230px;
        background-color: blueviolet;
        padding: 20px;
        position: absolute;
        transform: translateY(-50%);
    }

    .description{
        color: white;
        display: inline-block;
        text-align: left;
        max-width: 80%;
        margin-left: 40px;
        margin-top: 5px;
    }
}
